@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  margin: 0;
  padding: 0;
  background-color: #405cb1;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
